.cross-out {
  text-decoration: line-through;
  color: #ededed;
}

.todo {
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  p {
    margin: 0;
  }
  .todo-text {
    cursor: pointer;
    transition: 300ms color;
  }
  .delete-btn {
    color: lightcoral;
  }
}
